<a href="https://colab.research.google.com/github/spoorthybalaji/Daily_Status/blob/master/Day_1_Sesson_2_Exerxise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:

rows = 5
for i in range(0, rows + 1):
    for j in range(rows - i, 0, -1):
        print(j, end=' ')
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [4]:
k=1
n=int(input("enter n value: ")) 
for i in range(0,n):
  if(i>=2): 
    k=i+1
for j in range(0,i+1):
   print(k,end=" ")
   k=k+1 
print()

enter n value: 3
3 4 5

In [5]:
rows = 5
n=rows-1
for i in range(1, rows-1): 
  for j in range(i,rows):
    print(j,end=" ") 
  print()
for i in range(n+1,0,-1): 
  for j in range(i,n+1):
    print(j,end=" ")
  print()

enter n value: 4
4 3 4 2 3 4 1 2 3 4

In [6]:
rows = 4
for i in range(0, rows):
    for j in range(0, i + 1):
        print("*", end=' ')

    print("\r")

*
* *
* * *
* * * *

In [7]:
str = input("Enter a string: ")
counter = 0
for s in str:
      counter = counter+1
print("Length of the input string is:", counter)

Enter a string: Silver
Length of the input string is: 6

In [8]:
string=input("Enter string:")
char=0
word=1
for i in string:
      char=char+1
      if(i==' '):
            word=word+1
print("Number of words in the string:")
print(word)
print("Number of characters in the string:")
print(char)

Enter string:Spoorthy Balaji
Number of words in the string:
2
Number of characters in the string:
15

In [13]:
def countOccurences(str, word):   
    a = str.split(" ") 
    count = 0
    for i in range(0, len(a)): 
        if (word == a[i]): 
           count = count + 1       
    return count        
str ="Alvas Institute of Engineering and and and Technology "
word ="and"
print(countOccurences(str, word))

3